<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liwensheng.timetables">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".editClass" />
        <activity android:name=".addCourseActivity" />
        <activity android:name=".addCountdown" />

        <receiver
            android:name=".countdownReceive"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="staticreceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".ImportActivity" />
        <activity android:name=".ShowScores" />
        <activity android:name=".WebviewActivity"></activity>
    </application>

</manifest>